<plugin name='sequence-generator' version='0.9.0' grailsVersion='1.3 &gt; *'>
  <author>Goran Ehrsson</author>
  <authorEmail>goran@technipelago.se</authorEmail>
  <title>Sequence Number Generator</title>
  <description>
A service that generate sequence numbers from different sequences, formats, etc.
The method getNextSequenceNumber() is injected into all domain classes. It returns
the next number for the sequence defined for the domain.
</description>
  <documentation>http://grails.org/plugin/sequence</documentation>
  <type>SequenceGeneratorGrailsPlugin</type>
  <resources>
    <resource>grails.plugins.sequence.SequenceDefinition</resource>
    <resource>grails.plugins.sequence.SequenceNumber</resource>
    <resource>grails.plugins.sequence.SequenceTestEntity</resource>
    <resource>grails.plugins.sequence.SequenceGeneratorService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>